@tailwind base;
@tailwind components;
@tailwind utilities;

h1{
    font-family: 'Playfair Display SC', serif;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Playfair Display SC', serif;
}